<p>Chers lecteurs d'<cite>Arts &amp; Médias</cite>, j'ai une nouvelle décevante à vous annoncer : à l'avenir, ce site ne servira plus de plateforme pour découvrir et partager du contenu critique sur les arts médiatiques et numériques.</p>

<p>Il y a principalement deux raisons à cela : une nouvelle loi canadienne à venir, et un manque de temps et de ressources.</p>


<h2>Le futur projet de loi C-18</h2>

<p>« Comment une loi canadienne à venir peut-elle affecter ce site web » vous demandez-vous ?</p>

<p>En fait, la nature même de ce qu'était <cite>Arts &amp; Médias</cite> à sa base est en cause : une plateforme sur laquelle des liens vers des articles, des essais, des documents, des livres, des événements et des institutions étaient mis en relation les uns avec les autres. En fait, il s'agissait d'un intermédiaire entre ce que fait <a href="https://boingboing.net/">Boing Boing</a> (partager les découvertes du web et d'ailleurs) et ce que fait un <a href="https://fr.wikipedia.org/wiki/Moteur_de_recherche">moteur de recherche</a> (indexer du contenu). <cite>Arts &amp; Médias</cite> augmentait ces découvertes avec des métadonnées (étiquettes et citations, comme dans les documents de recherche) et offrait des liens vers des contenus similaires.</p>

<h3>Mise en contexte politique et légale</h3>

<p>Les Libéraux, le parti actuellement au pouvoir au Canada (2023), proposent une réforme visant à garantir que les géants de la technologie contribuent à l'économie canadienne au lieu de l'écraser. Cependant, de nombreux intervenants ont mentionné à plusieurs reprises que le projet de loi que les Libéraux souhaitent adopter met en péril de nombreuses entreprises qui se consacrent au numérique.</p>

<p>Plus récemment, <a href="https://www.michaelgeist.ca/">Michael Geist</a> a partagé ceci :</p>

<div class="embed-container">
  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">This where the government is at with Bill C-18. A Canadian can post a quote from a news article on their Facebook page, but if they include a link to the source article, there would be a requirement for the platform to negotiate mandatory payment for linking. <a href="https://t.co/8dt618rHaQ">pic.twitter.com/8dt618rHaQ</a></p>&mdash; Michael Geist (@mgeist) <a href="https://twitter.com/mgeist/status/1597653111451144192?ref_src=twsrc%5Etfw">November 29, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div>

<p>En bref, la manière dont le web fonctionne depuis des années (partage de liens vers d'autres contenus, citation d'autres contenus) est susceptible de faire l'objet de poursuites judiciaires au Canada.</p>


<h3>L'hypocrisie des médias</h3>

<p>Depuis des années, les entreprises de médias (magazines, télévision, radio, autres sites web, etc.) paient Facebook et Google pour la publicité sur leurs plateformes, réduisant ainsi leur propre contribution à l'économie locale.</p>

<p>En plus, le contenu publicitaire en ligne est enrichi de métadonnées (comme <a href="https://ogp.me/">OpenGraph</a> par Facebook, ou <a href="https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/abouts-cards">Twitter Cards</a> par Twitter) de sorte qu'un partage (par ex. : un article d'actualité) sur les plateformes de médias sociaux affiche unim image en aperçu et un court extrait dans un fil d'actualité.</p>

<p>Enfin, les sociétés de médias ont souvent engagé des publicitaires et des agences de référencement pour créer des « <a href="https://en.wikipedia.org/wiki/Advertorial">publireportages</a> », c'est-à-dire des publicités déguisées en articles pour jouer avec le classement des moteurs de recherche. Plus un grand nombre de liens pointent vers une page web, plus cette page est susceptible d'obtenir un meilleur classement dans les résultats de moteurs de recherche. Cette stratégie s'appuie sur le « <a href="https://fr.wikipedia.org/wiki/Lien_retour">backlinking</a> ».</p>

<p>En raison de ce comportement, les moteurs de recherche comme <a href="https://developers.google.com/search/docs/crawling-indexing/qualify-outbound-links">Google ont même demandé d'identifier les liens commandités comme tels</a>, faute de quoi ils réduiraient le classement des sites qui, autrement, auraient été enrichis par des liens retour (« backlinks »).</p>


<h2>Peu de contributeurs, plusieurs détracteurs</h2>

<p>Cette plateforme a été entièrement financée par Emjibay Productions inc., ma propre entreprise. Il n'y a pas de mal en soi, je connaissais le risque lorsque je me suis lancé dans ce projet.</p>

<p>J'ai tenté de contacter des pairs, des artistes, des universitaires, des événements et des entreprises de médias pour qu'ils participent, contribuent ou présented de la publicité sur cette plateforme.</p>

<p>Comme je m'y attendais, le silence radio a été la réponse principale.</p>

<p>Certains universitaires m'ont permis de présenter la plateforme à leurs étudiants, une façon pour eux de lancer leur découverte de l'art médiatique et numérique. Cette piste s'est malheureusement rapidement essoufflée.</p>

<p>Quelques événements et galeries ont accepté de permettre à <cite>Arts &amp; Médias</cite> de les lister, et je les en remercie.</p>

<p>Plus surprenant cependant, certaines personnes et entreprises de médias ont menacé de poursuites parce que la plateforme proposait des liens vers leur contenu, en partageant les mêmes métadonnées qu'ils ajoutaient à leur site web pour s'assurer que leur contenu soit partageable.</p>

<p>En résumé, des menaces juridiques ont été proférées par des entreprises de médias parce qu'<cite>Arts &amp; Médias</cite> améliorait gratuitement le classement de leur site web dans les moteurs de recherche grâce à des liens organiques ? Gardons en tête que ces mêmes entreprises engagent et paient des publicitaires pour faire exactement la même chose.</p>


<h2>Ce n'est qu'un au revoir</h2>

<p>Maintenir une telle plateforme seul, sans partenaire(s), est très fatigant et ingrat. Ce n'est pas une surprise, tous les créateurs de logiciels libres peuvent témoigner de cette difficulté.</p>

<p>Cependant, mon entreprise a actuellement moins de ressources à investir sans possibilité de retour, et je dispose moi-même d'un temps personnel limité à consacrer à cette plateforme.</p>

<p>Enfin, étant donné qu'en vertu de nouvelles lois canadiennes à venir, <cite>Arts &amp; Médias</cite> expose davantage mon entreprise à des risques de poursuites judiciaires, je mets la clé dans la porte.</p>

<p>J'ai apprécié toutes les découvertes que j'ai faites, j'espère que vous avez aussi découvert quelque chose dans ce qui a été partagé.</p>

<p>Jusqu'à la prochaine fois, au revoir.</p>

<img class="sig" src="/images/mat.png" alt="—Mat">