<p>Dear friends of <cite>Arts &amp; Médias</cite>, I have bittersweet news to announce: for now and the foreseeable future, this website will no longer serve as a platform to discover and share critical content about Media and Digital art.</p>

<p>There are a mainly two reasons for this: an upcoming new Canadian law, and a lack of time and resources.</p>


<h2>The Upcoming Bill C-18</h2>

<p>“How can an upcoming Canadian law affect this website?” you might ask.</p>

<p>It stems from what <cite>Arts &amp; Médias</cite> was at its core: a platform through which links to articles, essays, papers, books, events and institutions were put in relations to each other. Basically, it was the middle between what <a href="https://boingboing.net/">Boing Boing</a> does (sharing discoveries from the web and elsewhere) and what a <a href="https://en.wikipedia.org/wiki/Search_engine">search engine</a> does (indexing content). <cite>Arts &amp; Médias</cite> augmented those findings with metadata (tags and citations, like in research papers), and linked to similar content.</p>

<h3>Some (Legal and Political) Context</h3>

<p>The Liberals, the party currently in power in Canada (2023), are pushing for a reform to ensure that tech giants contribute to the Canadian economy instead of squashing it. However, many people have  repeatedly mentioned that the bill the Liberals would pass is placing at risk many digital-first businesses.</p>

<p>Recently, <a href="https://www.michaelgeist.ca/">Michael Geist</a> shared this nugget:</p>

<div class="embed-container">
  <blockquote class="twitter-tweet" data-lang="en"><p lang="en" dir="ltr">This where the government is at with Bill C-18. A Canadian can post a quote from a news article on their Facebook page, but if they include a link to the source article, there would be a requirement for the platform to negotiate mandatory payment for linking. <a href="https://t.co/8dt618rHaQ">pic.twitter.com/8dt618rHaQ</a></p>&mdash; Michael Geist (@mgeist) <a href="https://twitter.com/mgeist/status/1597653111451144192?ref_src=twsrc%5Etfw">November 29, 2022</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> 
</div>

<p>In short, the whole way the web has been working for years (sharing links to other content, quoting other content) is potentially turning into a pending lawsuit in Canada.</p>


<h3>The Hypocrisy of Media Companies</h3>

<p>For years, media companies (magazines, television, radio, other websites, etc.) have been paying Facebook and Google for advertisement on their platforms, themselves reducing their contribution to the local economy.</p>

<p>Additionally, online advertising content has also been augmented with metadata (like <a href="https://ogp.me/">OpenGraph</a> by Facebook, or <a href="https://developer.twitter.com/en/docs/twitter-for-websites/cards/overview/abouts-cards">Twitter Cards</a> by Twitter) so that content (e.g. a news article) shared on social media platforms show an image preview and a short excerpt in a news feed.</p>

<p>Finally, media companies have often hired advertising and SEO companies to create “<a href="https://en.wikipedia.org/wiki/Advertorial">advertorials</a>”, advertisement disguised as articles to game the search engines ranking. When more links point to a web page, the higher the page is likely to show in the search engine results ranking. This strategy leverages “<a href="https://en.wikipedia.org/wiki/Backlink">backlinking</a>”.</p>

<p>Because of this gaming, search engines like <a href="https://developers.google.com/search/docs/crawling-indexing/qualify-outbound-links">Google have even instructed people to mark  sponsored links as such</a>, otherwise they would reduce the ranking of sites that would otherwise be augmented by backlinks.</p>


<h2>Few Contributors, Many Naysayers</h2>

<p>This platform has been completely financed by Emjibay Productions inc., my own company. It's ok, I knew the risk when I embarked on this project.</p>

<p>I have been trying to reach out to peers, artists, academics, events, and media companies to participate in, contribute to, or advertise on this platform.</p>

<p>Expectedly, much of the reaction was nil.</p>

<p>Some academics allowed me to present the platform to students, a way for them to kick-start their discovery of Media and Digital Art. This lead died quickly, sadly.</p>

<p>Few events and galleries did share some events for <cite>Arts &amp; Médias</cite> to list, and I would like to thank them.</p>

<p>More surprisingly though, some people and media companies threatened to sue because the platform was offering links to their content, sharing the very metadata they themselves write on the website to ensure their content is shareable.</p>

<p>In short, legal threats were made by media companies because <cite>Arts &amp; Médias</cite> was actually augmenting their websites’ search engine rankings for free with organic links? Keep in mind the same companies hire and pay advertisers to do just that.</p>


<h2>So Long and Thanks for All the Fish</h2>

<p>Maintaining such a platform alone with no partner(s) is very tiring, and thankless. It's no surprise really, any open source creator can attest to this difficulty.</p>

<p>However, my company has currently less resources to invest with no possibility of return, and I myself have a limited amount of personal time to donate to this platorm.</p>

<p>Finally, since under upcoming new Canadian laws, <cite>Arts &amp; Médias</cite> puts my company more at risk of being sued, so I am pulling the plug.</p>

<p>I appreciate all the discoveries I made, I hope you discovered something as well in what was shared.</p>

<p>Until next time, au revoir.</p>

<img class="sig" src="/images/mat.png" alt="—Mat">