<footer class="footer">
  <div class="content">
    <p class="footer-title">{{ i18n.global.siteTitle }}</p>
    <hr class="footer-separator" />
    <p class="copyright">{{ i18n.global.copyrightLabel1 }} {{ i18n.global.copyrightLabel2 }}</p>
  </div>
</footer>