<header class="header">
  <div class="content">
    <div class="header-content">
      <p class="site-title">{{ i18n.global.siteTitle }}</p>
      <p class="site-subheading">{{ i18n.global.siteDescription }}</p>
    </div>
  </div>
</header>